<html>
<head>
  <title>Lambda Phi Epsilon</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css" type="text/css">
  <script src="https://unpkg.com/react@15/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
</head>
<body>
  <div class='content'></div>

  <div class='menu'>
    <ul>
      <li><a class='link1' href='#'>Link1</a></li>
      <li><a class='link2' href='#'>Link2</a></li>
      <li><a class='link3' href='#'>Link3</a></li>
      <li><a class='link4' href='#'>Link4</a></li>
      <li><a class='link5' href='#'>Link5</a></li>
    </ul>
  </div>

  <div class='menu-icon'>
    <div class='menu-line1'></div>
    <div class='menu-line2'></div>
    <div class='menu-line3'></div>
  </div>

  <div id="letters"><img src='img/lphie.png'></div>

  <script src='js/script.js'></script>
</body>
</html>
